@import './../styles/skeleton-sass/src/themes/custom/vars';

.primeng-calendar {
    &.p-datepicker {
        border: none;
        color: $gray-color-dark;
        font-family: $font-family;
        font-size: 1.5rem;
        padding-bottom: 0;

        .p-datepicker-header {
            border-color: $gray-color-dark;
            font-size: 130%;
            margin-bottom: 10px;
            padding-bottom: 18px;

            .p-datepicker-title {
                color: $primary-color-medium;
                font-size: 1.7rem;
            }

            .p-datepicker-prev, .p-datepicker-next {
                color: $primary-color-medium;
                transition: none;

                &:disabled {
                    color: $gray-color-light;
                    opacity: 0.7;
                }

                &:enabled:hover {
                    background-color: unset;
                    color: $primary-color-dark;
                }

                .p-datepicker-prev-icon, .p-datepicker-next-icon {
                    font-size: $font-size;
                    font-weight: 500;

                    &:hover {
                        color: $primary-color-dark;
                    }
                }
            }

            .p-datepicker-month, .p-datepicker-year {
                border: none;
                cursor: pointer;
                font-size: 95%;
                height: initial;
                margin-bottom: 0;
                padding: 0;

                &:focus {
                    box-shadow: none;
                }

                option {
                    font-size: 105%;
                }
            }
        }

        .p-datepicker-calendar {
            th {
                border-bottom: none;
                font-size: 0;
                font-weight: bold;
                padding-bottom: 3px;
                text-align: center;

                &::first-letter {
                    font-size: calc(#{$font-size} - 2px);
                }
            }

            tr:last-child {
                td {
                    padding: 0;
                }
            }

            td {
                border-bottom: none;
                padding: 0.6rem;

                .p-ripple {
                    color: $gray-color-dark;
                    font-size: 1.3rem;
                    height: 2.6rem;
                    width: 2.6rem;

                    &.p-highlight {
                        background-color: $primary-color-medium;
                        color: $body-background-color;
                    }
                }

                &.p-datepicker-today {
                    padding: 0.3rem;

                    .p-ripple {
                        background-color: rgba(67, 158, 247, 0.1);
                        border-color: $secondary-color-medium;
                        box-shadow: none;
                        height: 2.6rem;
                        width: 2.6rem;

                        &.p-highlight {
                            border-color: $body-background-color;
                            border-style: double;
                            border-width: initial;
                        }
                    }
                }
            }
        }
    }
}



/* CUSTOM ID STYLING */
#scheduleExceptionCalendar {
    .p-datepicker-calendar {
        td {
            &.p-datepicker-today {
                .removed-exception-dates, .new-exception-dates, .existing-exception-dates {
                    border-style: double;
                    border-width: 3px;
                }

                .existing-exception-dates {
                    background-color: $body-background-color;
                }
            }

            &:not(.p-datepicker-today) {
                .p-ripple.p-highlight {
                    background-color: $body-background-color;
                    color: $gray-color-dark;
                }
            }
        }
    }

    .new-exception-dates {
        background-color: $body-background-color !important;
        border-color: $primary-color-medium !important;
        color: $gray-color-dark !important;
    }

    .existing-exception-dates {
        background-color: $primary-color-medium !important;
        color: $body-background-color !important;
    }

    .removed-exception-dates {
        background-color: $body-background-color !important;
        border-color: $danger !important;
        color: $gray-color-dark !important;
    }
}
