@import './../styles/skeleton-sass/src/themes/custom/vars';


.primeng-calendar {
    &.p-datepicker {
        border: none;
        background: transparent;
        color: var(--gray-color);
        font-family: var(--font-family);
        font-size: 1.5rem;
        padding-bottom: 0;

        &:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
            //background-color: red;
        }

        .p-datepicker-header {
            background: inherit;
            border-color: var(--gray-color);
            font-size: 130%;
            margin-bottom: 10px;
            padding-bottom: 18px;

            .p-datepicker-title {
                color: var(--primary-color);
                font-size: 1.7rem;
            }

            .p-datepicker-prev, .p-datepicker-next {
                color: var(--primary-color);
                transition: none;

                &:disabled {
                    color: var(--gray-color-light);
                    opacity: 0.7;
                }

                &:enabled:hover {
                    background-color: unset;
                    color: var(--primary-color-dark);
                }

                .p-datepicker-prev-icon, .p-datepicker-next-icon {
                    font-size: var(--font-size);
                    font-weight: 500;
                }
            }

            .p-datepicker-month, .p-datepicker-year {
                border: none;
                cursor: pointer;
                font-size: 95%;
                height: initial;
                margin-bottom: 0;
                padding: 0;

                &:focus {
                    box-shadow: none;
                }

                option {
                    font-size: 105%;
                }
            }
        }

        .p-datepicker-calendar {
            th {
                border-bottom: none;
                font-size: 0;
                font-weight: bold;
                padding-bottom: 3px;
                text-align: center;

                &::first-letter {
                    font-size: calc(var(--font-size) - 2px);
                }
            }

            tr:last-child {
                td {
                    padding: 0;
                }
            }

            td {
                border-bottom: none;
                padding: 0.6rem;

                .p-ripple {
                    color: var(--gray-color);
                    font-size: 1.3rem;
                    height: 2.6rem;
                    width: 2.6rem;

                    &.p-highlight {
                        background-color: var(--primary-color);
                        color: var(--body-background-color);
                    }

                    &:not(.p-highlight):not(.p-disabled):hover {
                        background-color: var(--gray-color-dark);
                    }
                }

                &.p-datepicker-today {
                    padding: 0.3rem;

                    .p-ripple {
                        background-color: rgba(67, 158, 247, 0.1);
                        border-color: var(--secondary-color);
                        box-shadow: none;
                        height: 2.6rem;
                        width: 2.6rem;

                        &.p-highlight {
                            border-color: var(--body-background-color);
                            border-style: double;
                            border-width: initial;
                        }
                    }
                }
            }
        }
    }
}



/* CUSTOM ID STYLING */
#scheduleExceptionCalendar {
    .p-datepicker-calendar {
        td {
            &.p-datepicker-today {
                .removed-exception-dates, .new-exception-dates, .existing-exception-dates {
                    border-style: double;
                    border-width: 3px;
                }

                .existing-exception-dates {
                    background-color: var(--body-background-color);
                }
            }

            &:not(.p-datepicker-today) {
                .p-ripple.p-highlight {
                    background-color: var(--body-background-color);
                    color: var(--gray-color-dark);
                }
            }
        }
    }

    .new-exception-dates {
        background-color: var(--body-background-color) !important;
        border-color: var(--primary-color) !important;
        color: var(--gray-color) !important;
    }

    .existing-exception-dates {
        background-color: var(--primary-color) !important;
        color: var(--body-background-color) !important;
    }

    .removed-exception-dates {
        background-color: var(--body-background-color) !important;
        border-color: var(--danger) !important;
        color: var(--gray-color) !important;
    }
}
