/* Global variables */
$primary-color-1-dark: #000017;
$primary-color-1-medium: #003354;
$primary-color-1-light: #304d67;

$primary-color-2-dark: #0070c4; // includes button:hover color
$primary-color-2-medium: #439ef7; // includes button and icon color
$primary-color-2-light: #81cfff;

$gray-1: $primary-color-1-dark;
$gray-2: #454d4f;
$gray-3: #70797b;
$gray-4: #9ea8aa;
$gray-5: #c1c7c8;

// Action colors
$danger: #d0021b;
$warning: #e68d31;
$success: #43c277;


$disabled: #f5f5f5;


/* Body */
$body-font-family: Arial, Helvetica;
$body-font-color: #484848;
$body-font-size: 15px;
$body-background-color: #fff;
//$body-background-color: #f7fafd;

/* Colors */
$attention-light: #ff8392;
$el-off-white: #fafdff;
$el-gray-2: #c2c2c2;
$el-gray-3: #b3b3b3;
$el-gray-4: #919191;
$el-gray-6: #393939;

$primary-background-color: #fff;

$nav-background-color: #f5f5f5;
$nav-border-color: #e7e7e7;
$main-content-background-color: $primary-background-color;

$heading-font-color: $primary-background-color;
$heading-background-color: $primary-color-2-dark;
$heading-border-color: $primary-color-2-dark;

$border-radius: 5px;
$border-primary-color: #dbdbdb;

$button-radius: 4px;
$button-disabled-color: #a8b2b9;
$button-disabled-background-color: #fafafa;

/* close container */
$close-container-background-color: $primary-color-1-light;
$close-container-color: $main-content-background-color;

$mat-toggle-border-color: #cbcbcb;
$grid-border-color: #e1e1e1;

$medium-alert-background-color: #fffee9;
$medium-alert-border-color: #fce582;

// MATERIAL STYLING
$material-default-padding: 1.34375em;
$mat-table-header-background-color: #f8fcff;
