@import './skeleton-sass/src/themes/custom/vars';
@import './primeng-calendar';

:root {
    --font-family: Raleway, Arial, sans-serif;
    --font-size: 15px;
    --font-weight: 300;

    --border-radius: 5px;
    --calendar-height: 345px;

    --success: #43c277;
    --warning: #e68d31;
    --danger: #d0021b;

    --body-background-color: #fff;
    --text-background-color: #fff;
    --text-color: rgb(72, 72, 72);

    --primary-color: rgb(90, 185, 234);
    --primary-color-dark: #5a7b8c;
    --secondary-color: rgb(86, 128, 233);
    --tertiary-color: rgb(70, 72, 102);
    --tertiary-color-dark: #444;

    --gray-color: rgb(128, 128, 128);
    --gray-color-light: rgb(176, 176, 176);
    --gray-color-dark: rgba(128, 128, 128, 0.3);

    --link-color: #464866;
    --link-hover: #29648a;
    --link-active: #2e9cca;
}
*[data-theme="dark"] {
    --font-weight: 500;
    --danger: #cf6679;
    --body-background-color: #1c1e21;
    --text-background-color: #d7d7d7;
    --tertiary-color-dark: rgba(255, 255, 255, 0.87);
    --text-color: rgba(255, 255, 255, 0.75);
    --gray-color: rgb(200, 200, 200, 0.75);
    --gray-color-dark: rgb(150, 150, 150);
    --link-color: rgba(255, 255, 255, 0.6);
}

html {
    min-height: 100%;
}

body {
    background-color: var(--body-background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);

    &:hover {
        color: var(--link-hover);
    }

    &:active {
        color: var(--link-active);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--tertiary-color-dark);
}

input[type="text"], input[type="email"], textarea, option {
    background-color: var(--text-background-color);
}

/* Mobile */
@media only screen and (max-width: 600px) {
    body {
        padding: 1rem;
    }
}
/* Desktop */
@media only screen and (min-width: 601px) {
    body {
        padding: 2rem;
    }
}

/* Mac-style scrollbar styling */
* {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 15px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--body-background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c2c2c2;
        border: 4px solid var(--body-background-color);
        border-radius: 16px;
        min-height: 30px;

        &:hover {
            background-color: #737373;
        }
    }
}


/*************************
  PrimeNG Toast Classes
**************************/
.p-toast {
    width: unset !important;
}

.toast-default {
    text-align: center;

    .p-toast-message-content {
        align-items: center;

        .p-toast-message-text {
            font-size: 1.6rem;
            margin: unset !important;
            padding: 0 1rem;

            .p-toast-detail:empty {
                display: none;
            }
        }

        .p-toast-icon-close-icon {
            font-size: 1.25rem;
        }
    }
}


/****************************
  PrimeNG Override Classes
*****************************/
.p-inputtext, .p-dropdown-panel {
    font-size: 1.6rem;
    margin: auto 1rem;
}

.p-dropdown-panel {
    //background-color: var(--text-background-color);
    margin-left: 0;
}

.p-dropdown {
    //background-color: var(--text-background-color);

    &:not(.p-disabled) {
        &:hover {
            border-color: $secondary-color-dark;
        }
        &.p-focus {
            box-shadow: none;
        }

    }
}

.p-disabled, .p-component:disabled {
    opacity: 0.4;
}


/*********************
  Helper Classes
**********************/
.ng-invalid.ng-touched {
    border-color: var(--danger);
}

.badge {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--body-background-color);
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    padding: 0 0.85ch;
    white-space: nowrap;

    &:empty {
        display: none;
    }
}
