@import '../styles/settings';

#header {
    display: block;
    float: right;
    margin-right: 0.5em;

    div:first-of-type {
        font-size: 250%;
        margin-bottom: 5px;
        text-align: right;

        .separator:before {
            content: '·';
            margin-right: 0.3em;
            margin-left: 0.3em;
        }

        i {
            color: gray;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }

        .badge {
            font-size: 25%;
            margin-left: -1.5em;
            vertical-align: baseline;
        }
    }

    div:last-of-type {
        float: right;
    }
}

#contact {
    height: 300px;
    width: 400px;
    background-color: white;
    border: 2px solid black;
    border-right: none;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding: 10px;
    position: absolute;
    top: 30vh;
    right: 0;
    z-index: 10;

    textarea {
        width: 100%;

        &.error {
            border-color: $danger;
        }
    }
}
