<p-dialog [header]="('UI_MESSAGE_ME' | translate | async) ?? ''"
          position="bottom"
          styleClass="contact-dialog"
          [modal]="true"
          [(visible)]="visible"
          (onHide)="onHide()">

    <form *ngIf="form" [formGroup]="form" autocomplete="off" (submit)="onSendMessage()">
        <div>
            <textarea id="yourMessage"
                      formControlName="message"
                      [placeholder]="'UI_MESSAGE_PLACEHOLDER' | translate | async"
                      autofocus
                      maxlength="2500"
                      required
                      rows="4"></textarea>
        </div>

        <div>
            <input type="text"
                   formControlName="name"
                   id="yourName"
                   required
                   [placeholder]="'UI_NAME_PLACEHOLDER' | translate | async">
        </div>

        <div>
            <input type="email"
                   formControlName="email"
                   id="yourEmail"
                   required
                   [placeholder]="'UI_EMAIL_PLACEHOLDER' | translate | async">
        </div>

        <div>
            <button class="button-primary" [disabled]="!form.valid || this.sendingMessage">
                {{ 'UI_SEND' | translate | async }}
            </button>
        </div>
    </form>
</p-dialog>
