// The foundation of Skeleton which includes all base styles
// that come bundled by default.
// See skeleton/core/_config.scss for default variable values.
// See _vars.scss for theme-scoped default values.

/* BASIC STYLES
 * ------------------------------------------------ */
html { font-size: percentage(strip-units($base-font-size) / 16); }
@if($use-global-border-box) {
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
}
body {
	font: {
		family: var(--font-family);
		weight: 400;
		style: normal;
	}
	@include font-size($font-size);
	line-height: 1.6;
	margin: 0 auto;
}

/* SPACING
 * ------------------------------------------------ */
button,
.button { margin-bottom: relative(10px); }
input,
textarea,
select,
fieldset { margin-bottom: relative(15px); }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form { margin-bottom: relative(25px); }
