/* BUTTONS
 * ------------------------------------------------ */
.button, .button-primary {
	display: inline-block;
	height: 38px;
	padding: 0 relative(30px);
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border-radius: var(--border-radius);
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}
	&:visited {
		color: var(--primary-color);
	}
	&:hover, &:focus, &:active {
		outline: 0;
	}
}

.button {
	background-color: var(--body-background-color);
	color: var(--primary-color);

	&:hover, &:focus {
		color: $button-hover-color;
		border-color: $button-hover-border-color;
        background-color: transparent;
	}
	&:active {
		color: $button-active-color;
		border-color: $button-active-border-color;
        background-color: transparent;
	}
	&[disabled] {
		background-color: var(--body-background-color);
	}
}
.button-primary {
	background-color: var(--primary-color);
	border-color: var(--primary-color-dark);
	color: var(--body-background-color);

	&:hover, &:focus {
		background-color: var(--primary-color-dark);
		border-color: $button-primary-hover-border-color;
		color: var(--body-background-color);
	}
	&:active {
		color: $button-primary-active-color;
		background-color: $button-primary-active-background-color;
		border-color: $button-primary-active-border-color;
	}
	&[disabled] {
		background-color: var(--primary-color);
	}
}

/* Fix for odd Mozilla border & padding issues */
button, input {
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
