@import '../../styles/skeleton-sass/src/themes/custom/vars';

#daysOffSection {
    color: var(--gray-color);

    > div {
        display: inline-block;
        float: left;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    #daysOffContent, #daysOffList {
        width: 100%;
    }

    #daysOffList {
        margin-top: 1rem;
    }
}
/* DESKTOP */
@media only screen and (min-width: 601px) {
    #daysOffList {
        margin-left: 20px;

        #daysOffListSummary {
            height: 6rem;
        }
    }
}

#daysOffContent {
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    min-width: 40vw;

    /* MOBILE */
    @media only screen and (max-width: 600px) {
        #calendarSection {
            flex-direction: column;

            #daysOffSelectors {
                flex-direction: row;
                padding: 0.5rem 2rem;

                li {
                    display: inline-block;
                    margin-bottom: 0;

                    &:not(:last-child):after {
                        content: '|';
                        font-size: 75%;
                        padding: 0 1rem 0 0.8rem;
                        vertical-align: text-top;
                    }

                    #clearAllDates {
                        min-width: auto;

                        #dateCounter {
                            width: auto;
                        }
                    }
                }
            }
            #daysOffCalendar {
                border-top: 1px solid var(--gray-color);
            }
        }
    }
    /* DESKTOP */
    @media only screen and (min-width: 601px) {
        #calendarSection {
            flex-direction: row;

            #daysOffSelectors {
                flex-direction: column;
                padding: 2rem 0 2rem 1rem;
            }

            #daysOffCalendar {
                border-left: 1px solid var(--gray-color);
            }
        }
    }
    #calendarSection {
        display: flex;

        #daysOffSelectors {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 18ch;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    &.enabled {
                        cursor: pointer;

                        &:hover {
                            color: var(--tertiary-color-dark);
                        }
                    }

                    &:not(.enabled) {
                        color: var(--gray-color-light);
                        cursor: default;
                    }
                }
            }

            #clearAllDates {
                margin-bottom: 0;

                &.enabled {
                    #dateCounter {
                        visibility: visible;
                    }
                }

                #dateCounter {
                    color: var(--primary-color);
                    display: inline-block;
                    font-weight: bold;
                    line-height: 100%;
                    visibility: hidden;
                }
            }
        }

        #daysOffCalendar {
            display: flex;
            height: var(--calendar-height);
            justify-content: center;
            margin: auto 0 auto auto;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            width: 100%;

            .p-calendar, .p-datepicker {
                border: none;
            }
        }
    }
}

#daysOffList {
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    min-width: 32vw;

    #daysOffListSummary {
        align-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--gray-color);
        display: flex;
        flex-direction: row;
        height: 58px; // must be in px
        padding: 0 1.5rem;
    }

    #saveDaysOff {
        color: var(--primary-color);
        flex-grow: 1;
        font-weight: 600;
        margin-right: 20px;

        .badge {
            margin-top: -0.5ch;
        }
    }

    #deleteAll {
        cursor: pointer;
        justify-self: flex-end;

        &:hover, &:focus {
            color: var(--danger);
        }
    }

    #restoreAll {
        cursor: pointer;
        justify-self: flex-end;

        &:hover {
            color: var(--primary-color);
        }
    }

    #exceptionsListContainer {
        display: flex;
        flex-direction: column;
        height: calc(var(--calendar-height) - 61px);
        overflow-y: auto;
        padding: 0 2rem 2rem 2rem;
        margin-bottom: 2px;

        #noDaysOff {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            justify-content: center;
            max-width: 330px;
            min-height: 100%;
            padding: 35px;
            text-align: center;

            .no-dates-saved {
                font-size: var(--font-size);
                font-weight: 600;
                margin-top: 10px;
            }

            .fa-calendar-times {
                color: var(--primary-color);
                font-size: 400%;
            }
        }
    }
}
