<div id="daysOffSection">
  <div id="daysOffContent">
    <div id="calendarSection">
      <div id="daysOffSelectors">
        <ul>
          <li
            id="goToToday"
            [class.enabled]="todaysMonth !== calendar.currentMonth || todaysYear !== calendar.currentYear"
            (click)="goToToday()">
            {{ 'DAYS_OFF.MANAGEMENT.TODAY' | translate }}
          </li>
          <li id="selectMonth" class="enabled" (click)="onSelectMonth()">
            {{ 'DAYS_OFF.MANAGEMENT.SELECT_MONTH' | translate }}
          </li>
          <li id="selectYear" class="enabled" (click)="onSelectYear()">
            {{ 'DAYS_OFF.MANAGEMENT.SELECT_YEAR' | translate }}
          </li>
        </ul>

        <ul>
          <li
            id="clearMonth"
            [class.enabled]="newExceptionsBucket.size > 0"
            (click)="newExceptionsBucket.size > 0 ? onClearMonth() : null">
            {{ 'DAYS_OFF.MANAGEMENT.CLEAR_MONTH' | translate }}
          </li>
          <li
            id="clearAllDates"
            [class.enabled]="newExceptionsBucket.size > 0"
            (click)="newExceptionsBucket.size > 0 ? onClearAllNewDates() : null">
            {{ 'DAYS_OFF.MANAGEMENT.CLEAR_ALL_DATES' | translate }}
            <span id="dateCounter">&nbsp;{{ newExceptionsBucket.size }}</span>
          </li>
        </ul>
      </div> <!-- /#daysOffSelectors -->

      <div id="daysOffCalendar" class="p-input-icon-right">
        <p-calendar
          #calendar
          id="scheduleExceptionCalendar"
          selectionMode="multiple"
          panelStyleClass="primeng-calendar"
          [ngModel]="daysOff"
          [disabledDates]="closedDates"
          [disabledDays]="closedDays"
          [firstDayOfWeek]="1"
          [inline]="true"
          [maxDate]="maxDate"
          [minDate]="todaysDate"
          [showOtherMonths]="false"
          (onMonthChange)="onDateChange($event)"
          (onYearChange)="onDateChange($event)">
        </p-calendar>
      </div> <!-- /#daysOffCalendar -->
    </div> <!-- /#calendarSection -->
  </div> <!-- /#daysOffContent -->

  <div id="daysOffList">
    <div id="daysOffListSummary">
      <div id="saveDaysOff">
        {{ 'DAYS_OFF.MANAGEMENT.SAVED_DAYS_OFF' | translate }}&nbsp;
        @if (existingExceptionsBucket.size > 0) {
          <span class="badge">{{ existingExceptionsBucket.size }}</span>
        }
      </div> <!-- /#saveDaysOff -->

      @if (cardData.length > 0) {
        @if (markedForDeletionBucket.size > 0) {
          <div id="restoreAll" (click)="onRestoreAll()">
            {{ 'DAYS_OFF.MANAGEMENT.RESTORE_ALL' | translate }} &nbsp;<i class="fa fa-undo"></i>
          </div>
        }
        @else {
          <div id="deleteAll" (click)="onDeleteAll()">
            {{ 'DAYS_OFF.MANAGEMENT.SLOTS_DELETE_ALL' | translate }} &nbsp;<i class="far fa-times-circle"></i>
          </div>
        }
      }
    </div> <!-- /#daysOffListSummary -->

    <div #exceptionsListContainer id="exceptionsListContainer">
      @if (cardData.length > 0) {
        <div id="innerContent">
          @for (card of cardData; let i = $index; track card.date.getTime()) {
            <app-day-off-card
              [date]="card.date"
              [pendingDelete]="card.isPendingDelete"
              [showMonthSeparator]="shouldShowCardMonthSeparator(card.date, i)"
              (markForDelete)="onMarkForDelete($event)"
              (restore)="onRestore($event)">
            </app-day-off-card>
          }
        </div> <!-- /#innerContent -->
      } @else {
        <div id="noDaysOff">
          <i class="far fa-calendar-times"></i>
          <div class="no-dates-saved">{{ 'DAYS_OFF.MANAGEMENT.NO_DATES_SAVED' | translate }}</div>
          {{ 'DAYS_OFF.MANAGEMENT.SELECT_DATE_EXPLANATION' | translate }}
        </div>
      }
    </div> <!-- /#exceptionsListContainer -->
  </div> <!-- /#daysOffList -->

  <br class="clearfix">
</div> <!-- /#daysOffSection -->
