@import './styles/skeleton-sass/src/themes/custom/vars';

/* Mobile */
@media only screen and (max-width: 600px) {
    #title {
        font-size: 2.75rem;
        text-align: center;
    }
    #summary {
        margin-bottom: 1rem;
    }
}
/* Desktop */
@media only screen and (min-width: 601px) {
    #title {
        font-size: 3rem;
    }

    #summary {
        width: 80%;
        margin-bottom: 1.5rem;
    }
}

#title {
    font-family: monospace;
    margin-bottom: 1rem;
}

.mesh {
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    line-height: 1.1;
    padding: 0 5px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}


::ng-deep .days-off-skeleton {
    border-radius: $border-radius;
    display: inline-block;
    min-height: calc(#{$calendar-height} + 62px);

    &:first-child {
        margin-right: 20px;
    }
}
