<header>
    <app-menu></app-menu>
</header>

<h1 style="font-family: monospace">{{ 'Example Day Off Management App' | translate | async }}&nbsp;</h1>

<app-schedule-exception-management
    [startingViewDate]="startingViewDate"
    [closedDays]="(office$ | async)?.closedDays ?? []"
    [closedDates]="(office$ | async)?.closedDates ?? []"
    [daysOff]="(employee$ | async)?.daysOff ?? []"
    (newExceptions)="newExceptionDates = $event"
    (exceptionsToBeDeleted)="exceptionDatesToBeDeleted = $event"
    (currentViewedMonth)="startingViewDate = $event">
</app-schedule-exception-management>

<br>

<button type="button"
        [label]="('Save' | translate | async) ?? ''"
        pButton pRipple
        [disabled]="newExceptionDates.length === 0 && exceptionDatesToBeDeleted.length === 0"
        (click)="onSave()">
</button>

<div *ngIf="showMesh$ | async" class="mesh"></div>
<p-toast position="bottom-center"></p-toast>

<app-spinner></app-spinner>
<app-contact></app-contact>
<app-explanations></app-explanations>

<footer>© 2021</footer>
