.mesh {
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #title {
        font-size: 2.75rem;
        text-align: center;
    }
    #summary {
        margin-bottom: 1rem;
    }
    footer {
        float: right;
        margin-right: 1rem;
        margin-top: -3rem;
    }
}
/* Desktop */
@media only screen and (min-width: 601px) {
    #title {
        font-size: 3rem;
    }
    #summary {
        width: 80%;
        margin-bottom: 1.5rem;
    }
    footer {
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;
    }
}

#title {
    font-family: monospace;
    margin-bottom: 1rem;
}

footer {
    background-color: var(---body-background-color);
    line-height: 1.1;
    text-align: right;

    span {
        font-size: smaller;

        a:not(:hover):not(:active) {
            color: var(--link-color);
        }
    }
}

.skeleton {
    min-height: var(--calendar-height);

    &:first-child {
        margin-right: 20px;
    }
}
