@import './../../styles/skeleton-sass/src/themes/custom/vars';

.month-separator {
    line-height: 50%;
    margin-bottom: 14px;
    padding-top: 14px;

    span {
        background-color: $body-background-color;
        color: $gray-color-dark;
        font-size: 1.2rem;
        font-weight: bold;
        height: 20px;
        padding-right: 10px;
        position: relative;
        text-transform: uppercase;
    }

    hr {
        border-color: $gray-color-light;
        margin: 0;
        position: relative;
        top: 6px;
    }
}

.day-off-card {
    border: 1px solid $gray-color-medium;
    border-radius: $border-radius;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 12px;

    &:hover {
        border-color: $danger;

        .delete-day {
            color: $danger;
        }
    }

    &.pending-delete {
        &:hover {
            border-color: $primary-color-medium;

            .show-restore {
                color: $primary-color-medium;
            }
        }

        .cal-day-month {
            background-color: $danger !important;
        }
    }

    .cal-day {
        border: 1px solid $gray-color-light;
        border-radius: $border-radius;
        margin-right: 12px;
        text-align: center;
        width: 45px;

        .cal-day-month {
            background-color: $primary-color-medium;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            color: $body-background-color;
            font-size: 1.1rem;
            margin-top: 0.5px;
            text-transform: uppercase;
        }

        .cal-day-date {
            color: $gray-color-dark;
            font-size: 2rem;
            font-weight: bold;
            line-height: 125%;
        }
    }

    .cal-text {
        align-self: center;
        flex-grow: 1;

        .long-date {
            color: $primary-color-dark;
            font-weight: 500;
            margin-bottom: -5px;
        }

        .full-day {
            color: $gray-color-dark;
            font-size: 1.25rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .delete-day {
        align-self: center;
        color: $gray-color-medium;
        font-size: 2rem;

        &:hover {
            .show-restore {
                color: $gray-color-dark;
            }
        }
    }
}
