@import './../../styles/skeleton-sass/src/themes/custom/vars';

#daysOffSection {
    color: $gray-color-medium;

    > div {
        display: inline-block;
        float: left;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    #daysOffContent, #daysOffList {
        width: 100%;
    }

    #daysOffContent {
        #monthList {
            line-height: 5rem;

            .month {
                font-size: 0;

                &::first-letter {
                    font-size: 1.5rem;
                    padding-right: 2px;
                    padding-left: 2px;
                    text-transform: uppercase;
                }
            }
        }
    }

    #daysOffList {
        margin-top: 1rem;

        #daysOffListSummary {
            line-height: 5rem;
        }
    }
}
/* DESKTOP */
@media only screen and (min-width: 601px) {
    #daysOffContent {
        #monthList {
            line-height: 6rem;
        }
    }
    #daysOffList {
        margin-left: 20px;

        #daysOffListSummary {
            line-height: 6rem;
        }
    }
}

#daysOffContent {
    border: 1px solid $gray-color-dark;
    border-radius: $border-radius;
    min-width: 40vw;

    #monthList {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $gray-color-dark;
        justify-content: space-evenly;

        .month {
            cursor: pointer;
            display: inline-block;
            text-align: center;

            &:hover {
                color: $primary-color-medium;
            }

            &.selected {
                border-bottom: 2px solid $primary-color-medium;
                color: $primary-color-medium;
                cursor: default;
                font-weight: bold;
                margin-bottom: -1px;
            }
        }
    }

    /* MOBILE */
    @media only screen and (max-width: 600px) {
        #calendarSection {
            flex-direction: column;

            #daysOffSelectors {
                flex-direction: row;
                padding: 0.5rem 2rem;

                li {
                    display: inline-block;
                    margin-bottom: 0;

                    &:not(:last-child):after {
                        content: '·';
                        padding: 0 1rem;
                    }

                    #clearAllDates {
                        min-width: auto;

                        #dateCounter {
                            width: auto;
                        }
                    }
                }
            }
            #daysOffCalendar {
                border-top: 1px solid $gray-color-dark;
            }
        }
    }
    /* DESKTOP */
    @media only screen and (min-width: 601px) {
        #calendarSection {
            flex-direction: row;

            #daysOffSelectors {
                flex-direction: column;
                padding: 2rem 0 2rem 1rem;

                #clearAllDates {
                    min-width: 22ch;

                    #dateCounter {
                        width: 40px;
                    }
                }
            }

            #daysOffCalendar {
                border-left: 1px solid $gray-color-dark;
            }
        }
    }
    #calendarSection {
        display: flex;

        #daysOffSelectors {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 15vw;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    &.enabled {
                        cursor: pointer;

                        &:hover {
                            color: $primary-color-dark;
                        }
                    }

                    &:not(.enabled) {
                        color: $gray-color-medium;
                    }
                }
            }

            #clearAllDates {
                margin-bottom: 0;

                &.enabled {
                    #dateCounter {
                        visibility: visible;
                    }
                }

                #dateCounter {
                    color: $primary-color-medium;
                    display: inline-block;
                    font-weight: bold;
                    line-height: 100%;
                    visibility: hidden;
                }
            }
        }

        #daysOffCalendar {
            display: flex;
            height: calc(#{$calendar-height} + 2px);
            justify-content: center;
            margin: auto 0 auto auto;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            width: 100%;

            .p-calendar, .p-datepicker {
                border: none;
            }
        }
    }
}

#daysOffList {
    border: 1px solid $gray-color-dark;
    border-radius: $border-radius;
    min-width: 30vw;

    #daysOffListSummary {
        align-content: space-between;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $gray-color-dark;
        padding: 0 1.5rem 1px 1.5rem;
    }

    #saveDaysOff {
        color: $primary-color-medium;
        flex-grow: 1;
        font-weight: 600;
        margin-right: 20px;

        .badge {
            line-height: 1.5;
        }
    }

    #deleteAll {
        cursor: pointer;
        justify-self: flex-end;

        &:hover, &:focus {
            color: $danger;
        }
    }

    #restoreAll {
        cursor: pointer;
        justify-self: flex-end;

        &:hover {
            color: $primary-color-medium;
        }
    }

    #exceptionsListContainer {
        display: flex;
        flex-direction: column;
        height: $calendar-height;
        overflow-y: auto;
        padding: 0 2rem 2rem 2rem;
        margin-bottom: 2px;

        #noDaysOff {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            justify-content: center;
            max-width: 330px;
            min-height: 100%;
            padding: 35px;
            text-align: center;

            .no-dates-saved {
                font-size: $font-size;
                font-weight: 600;
                margin-top: 10px;
            }

            .fa-calendar-times {
                color: $primary-color-medium;
                font-size: 400%;
            }
        }
    }
}
