@use 'sass:color';

/* COLOR THEME */
$primary-color-medium: #5ab9ea;
$primary-color-light: color.scale($primary-color-medium, $whiteness: 40%);
$primary-color-dark: color.scale($primary-color-medium, $blackness: 40%);

$secondary-color-medium: #5680e9;
$secondary-color-light: color.scale($secondary-color-medium, $whiteness: 40%);
$secondary-color-dark: color.scale($secondary-color-medium, $blackness: 40%);

$gray-color-medium: #9b9ca7ff;

/* SKELETON THEME */
// button settings
$button-active-color: #fff;
$button-active-border-color: #888;

$button-primary-color: #333;
$button-primary-border-color: #333;
$button-primary-background-color: #33c3f0;

$button-primary-hover-color: $button-active-color;
$button-primary-hover-background-color: #1eaedb;
$button-primary-hover-border-color: #1eaedb;

$button-primary-active-color: $button-primary-hover-color;
$button-primary-active-background-color: $button-primary-hover-background-color;
$button-primary-active-border-color: $button-primary-hover-border-color;
