@import '../styles/skeleton-sass/src/themes/custom/vars';

.explanation {
    background-color: $body-background-color;
    border: 4px solid #000;
    border-radius: 25px;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    color: #000;
    display: none;
    position: absolute;
    z-index: 150;

    i {
        color: $primary-color-medium;
        cursor: pointer;
        display: inline-block;
        font-size: 115%;
        margin-left: 0.5rem;
        vertical-align: text-bottom;

        &:hover {
            color: $primary-color-dark;
        }
    }
}

.corner-arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    padding: 6px;
    position: absolute;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .explanation {
        font-size: 105%;
        padding: 1.5rem 2rem;

        &.up-right {
            border-top-right-radius: 0;
        }
    }

    .corner-arrow {
        &.top-right {
            display: inline-block;
            top: 2px;
            right: 2px;
            transform: rotate(270deg);
        }
        &.bottom-left, &.bottom-right {
            display: none;
        }
    }

    #explanation1 {
        left: 3rem;
        top: 10vh;
        width: calc(100% - 6rem);
    }
    #explanation2 {
        left: 1rem;
        top: 18vh;
        width: calc(100% - 10rem);
    }
    #explanation3 {
        left: 7rem;
        top: 14vh;
        width: calc(100% - 8rem);
    }
    #explanation4 {
        left: 1rem;
        top: 5rem;
        width: calc(100% - 7rem);
    }
}
/* Desktop */
@media only screen and (min-width: 601px) {
    .explanation {
        font-size: 115%;
        padding: 2.5rem 3rem;

        &.down-left {
            border-bottom-left-radius: 0;
        }
        &.down-right {
            border-bottom-right-radius: 0;
        }
    }

    .corner-arrow {
        display: inline-block;
        bottom: 2px;

        &.bottom-left {
            left: 2px;
            transform: rotate(90deg);
        }
        &.bottom-right {
            right: 2px;
        }
        &.top-right {
            display: none;
        }
    }

    #explanation1 {
        left: 15vw;
        top: 10vh;
        width: 60vw;
    }
    #explanation2 {
        left: 5vw;
        top: 18vh;
        width: 50vw;
    }
    #explanation3 {
        right: 8vw;
        top: 12vh;
        width: 55vw;
    }
    #explanation4 {
        left: 25vw;
        top: 20vh;
        width: 50vw;
    }
}
