<aside>
  <div #showSteps id="explanation1" class="explanation">
    {{ 'EXPLANATIONS.BOX_1' | translate }}
    <i class="fas fa-angle-double-right" (click)="showNextExplanationText(1)"></i>
  </div>
</aside>

<aside>
  <div #showSteps id="explanation2" class="explanation down-left">
    {{ 'EXPLANATIONS.BOX_2' | translate }}
    <i class="fas fa-angle-double-right" (click)="showNextExplanationText(2)"></i>
    <div class="corner-arrow bottom-left"></div>
  </div>
</aside>

<aside>
  <div #showSteps id="explanation3" class="explanation down-right">
    {{ 'EXPLANATIONS.BOX_3' | translate }}
    <i class="fas fa-angle-double-right" (click)="showNextExplanationText(3)"></i>
    <div class="corner-arrow bottom-right"></div>
  </div>
</aside>

<aside>
  <div #showSteps id="explanation4" class="explanation up-right">
    {{ 'EXPLANATIONS.BOX_4' | translate }}
    <i class="fas fa-check-circle" (click)="onClose()"></i>
    <div class="corner-arrow top-right"></div>
  </div>
</aside>
