<aside>
    <div #showSteps id="explanation1" class="explanation down-left">
        {{ 'UI_EXPLANATION_1' | translate | async }}
        <div class="positioned-arrow"></div>
        <div class="next-step">
            <i class="fas fa-angle-double-right" (click)="showNextExplanationText(1)"></i>
        </div>
    </div>
</aside>

<aside>
    <div #showSteps id="explanation2" class="explanation down-left">
        {{ 'UI_EXPLANATION_2' | translate | async }}
        <div class="positioned-arrow"></div>
        <div class="next-step">
            <i class="fas fa-angle-double-right" (click)="showNextExplanationText(2)"></i>
        </div>
    </div>
</aside>

<aside>
    <div #showSteps id="explanation3" class="explanation down-left" style="">
        {{ 'UI_EXPLANATION_3' | translate | async }}
        <div class="positioned-arrow"></div>
        <div class="next-step">
            <i class="fas fa-times" (click)="onClose()"></i>
        </div>
    </div>
</aside>
