<div id="daysOffSection">
    <div id="daysOffContent">
        <div id="calendarSection">
            <div id="daysOffSelectors">
                <ul>
                    <li id="goToToday"
                        [class.enabled]="todaysMonth !== calendar.currentMonth || todaysYear !== calendar.currentYear"
                        (click)="goToToday()">
                        {{ 'UI_TODAY' | translate | async }}
                    </li>
                    <li id="selectMonth" class="enabled" (click)="onSelectMonth()">
                        {{ 'UI_SELECT_MONTH' | translate | async }}
                    </li>
                    <li id="selectYear" class="enabled" (click)="onSelectYear()">
                        {{ 'UI_SELECT_YEAR' | translate | async }}
                    </li>
                </ul>

                <ul>
                    <li id="clearMonth"
                        [class.enabled]="newExceptionsBucket.size > 0"
                        (click)="newExceptionsBucket.size > 0 ? onClearMonth() : null">
                        {{ 'UI_CLEAR_MONTH' | translate | async }}
                    </li>
                    <li id="clearAllDates"
                        [class.enabled]="newExceptionsBucket.size > 0"
                        (click)="newExceptionsBucket.size > 0 ? onClearAllNewDates() : null">
                        {{ 'UI_CLEAR_ALL_DATES' | translate | async }}
                        <span id="dateCounter">&nbsp;{{ newExceptionsBucket.size }}</span>
                    </li>
                </ul>
            </div>

            <div id="daysOffCalendar" class="p-input-icon-right">
                <p-calendar #calendar
                            id="scheduleExceptionCalendar"
                            selectionMode="multiple"
                            panelStyleClass="primeng-calendar"
                            [ngModel]="daysOff"
                            [disabledDays]="closedDays"
                            [disabledDates]="closedDates"
                            [minDate]="todaysDate"
                            [maxDate]="maxDate"
                            [inline]="true"
                            [showOtherMonths]="false"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [yearRange]="yearRange"
                            (onMonthChange)="onDateChange($event)"
                            (onYearChange)="onDateChange($event)">
                </p-calendar>
            </div> <!-- /#daysOffCalendar -->
        </div> <!-- /#calendarSection -->
    </div> <!-- /#daysOffContent -->

    <div id="daysOffList">
        <div id="daysOffListSummary">
            <div id="saveDaysOff">
                {{ 'UI_SAVED_DAYS_OFF' | translate | async }}&nbsp;
                <span *ngIf="existingExceptionsBucket.size > 0" class="badge">{{ existingExceptionsBucket.size }}</span>
            </div>

            <ng-container *ngIf="cardData.length > 0">
                <div *ngIf="markedForDeletionBucket.size > 0" id="restoreAll" (click)="onRestoreAll()">
                    {{ 'UI_RESTORE_ALL_QUESTION' | translate | async }} &nbsp;<i class="fa fa-undo"></i>
                </div>
                <div *ngIf="markedForDeletionBucket.size === 0" id="deleteAll" (click)="onDeleteAll()">
                    {{ 'UI_SLOTS_DELETE_ALL' | translate | async }} &nbsp;<i class="far fa-times-circle"></i>
                </div>
            </ng-container>
        </div> <!-- /#daysOffListSummary -->

        <div #exceptionsListContainer id="exceptionsListContainer">
            <ng-container *ngIf="cardData.length > 0; else noCards">
                <div id="innerContent">
                    <ng-container *ngFor="let card of cardData; let i = index; trackBy: trackCardData">
                        <app-day-off-card
                                [date]="card.date"
                                [pendingDelete]="card.isPendingDelete"
                                [showMonthSeparator]="shouldShowCardMonthSeparator(card.date, i)"
                                (markForDelete)="onMarkForDelete($event)"
                                (restore)="onRestore($event)">
                        </app-day-off-card>
                    </ng-container>
                </div> <!-- /#innerContent -->
            </ng-container>
            <ng-template #noCards>
                <div id="noDaysOff">
                    <i class="far fa-calendar-times"></i>
                    <div class="no-dates-saved">{{ 'UI_NO_DATES_SAVED' | translate | async }}</div>
                    {{ 'UI_SELECT_DATE_EXPLANATION' | translate | async }}
                </div>
            </ng-template>
        </div> <!-- /#exceptionsListContainer -->
    </div> <!-- /#daysOffList -->

    <br class="clearfix">
</div>
